nette:
    database:
        default:
            dsn: "mysql:host=127.0.0.1;dbname=wikipedia"
            user: root
            password: pass

services:
    database: @nette.database.default
    listOfLinks: ListOfLinks(@database, %storageUrl%)
    databaseImport: DatabaseImport(@database)

parameters:
    storageUrl: http://dumps.wikimedia.org/backup-index.html
    languages:
        - cswiki
        - enwiki
