database:
    default:
        dsn: "mysql:host=127.0.0.1;dbname=wikipedia"
        user: wikipedia
        password: 75ghA3k00haZBYgaq912a

services:
    database: @database.default
    databaseSelect: DatabaseSelect(@database)
    proposalImprove: ProposalImprove(@database)
    ForeignArticle: ForeignArticle()
    englishPages: EnglishPages(@database)
    missingPortals: MissingPortals(@database)

parameters:
    storageUrl: http://dumps.wikimedia.org/
